@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.button {
    padding: 12px 28px;
    background-color: $black;
    border-radius: 50px;
    @include font(16px, 600, $white, none, 28px);
    outline: 0;
    border: 0;
    cursor: pointer;
    border: 1px solid $black;
    transition: all .3s;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &-purple {
        background-color: $purple;
        border: 1px solid $purple;

        &:hover {
            background: $white;
            color: $purple
        }
    }


}
