@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.main-menu {
    list-style: none;
    margin: 0 12px;

    li {
        a {
            color: $white;
            padding: 0 12px;
            text-decoration: none;
            transition: opacity .3s;

            @include font(16px, 500, $white, none, 16px);

            &:hover, &.active  {
                opacity: .7;
            }
        }
    }


    @include Mobile {
        width: 100%;
        padding-top: 24px;
        display: none;

        li {
            width: 100%;
            padding: 24px 0 24px 24px
        }
    }
}
